
.box1 { 
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(46,31,157,1) 50%, rgba(45,13,119,1) 100%);
    height: 500px;
    width: auto;
    margin-top: -393px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
}

.image{
    height: 250px;
    margin-left: 641px;
    margin-top: 44px;
}
.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    color: white;
    
}
.text-container h1 {
    font-size: 190px;
    margin-bottom: -25px;
    text-shadow: 2px 2px 4px black;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-style: italic;
}
.text-container p {
    font-size: 190px;
    line-height: 1.6;
}

.text-container2 p {
    color: white;
    font-size: 30px;
    margin-top: 100px;
    margin-left: 70px;
    text-shadow: 2px 2px 4px black;
    font-family: cursive;
}

.encadre{
    background-color: rgb(80, 5, 116);
    height: 45px;
    width: 350Px;
    border-radius: 200px;
    margin-left: 10px;
}

.image-style {
    width: 350px;
    height: 500px;
    border-radius: 10px;
}

.manga{
    height: 700px;
    width: 350px;
}

.image-size{
    height: 700px;
    width: 470px;
    margin: 73px;
    border-radius: 10px;
    border: 3px solid black;
}

.image-size2{
    margin-left: 100px;
    height: 700px;
    width: 470px;
    margin: 73px;
    border-radius: 10px;
    border: 3px solid black;
    text-align: center;
}

.presentation-h2{
    font-size: 100px;
}


@media screen and (max-width:414px) {

    .présentation-h2{
        margin-top: -331px;
    }

    .container {
        position: relative;

    }

    #searchForm {
        display: flex;
        align-items: center;
        }
      
    input[type="text"] {
        padding: 10px;
        font-size: 16px;
        width: 183px;
        height: 19px;
        border: 1px solid #ccc;
        border-radius: 25px;
        margin-left: 181px;
        margin-bottom: -10px;
        margin-top: -23px;
    }
      

    .image{
        height: auto;
        position: relative;
        width: 450px;
        z-index: 2;
        margin: -163px;
        margin-top: -73x;
        margin-left: -17px;
        transform: scale(0.7);
    }

    .image-container{
        width: 10px;
    }
    .box1 { 
        background: rgb(131,58,180);
        background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(46,31,157,1) 50%, rgba(45,13,119,1) 100%);
        height: 214px;
        width: auto;
        margin-top: -36px;
        margin-left: -18px;
        margin-right: -8px;
    
    }


    .text-container h1 {
        margin-bottom: -100px;
        font-size: 80px;
        text-shadow: 2px 2px 4px black;
        font-family: Comic Sans MS, Comic Sans, cursive;
        font-style: italic;
    }

    .présentation-h2 {
        font-size: 1px;
    }

    .image-size{
        height: 344px;
        width: 235px;
        margin: 60px;
        border-radius: 10px;
        border: 3px solid black;
        margin-left: 76px;
    }

    .image-size2{
        margin-left: 100px;
        height: 344px;
        width: 235px;
        margin-left: 10px;
        margin: 60px;
        border-radius: 10px;
        border: 3px solid black;
        text-align: center;
    }

    .PiedDePage{
        height: 180px;
        width: auto;
        opacity: 0.78;
        background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgb(138 58 157) 50%, rgb(131 58 180) 100%)
    }
}
