.logo {
    background-image: url(img/jojologo.webp);
    width: 539px;
    height: 500px;
    margin-left: 450px;
}
.box1 { 
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(46,31,157,1) 50%, rgba(45,13,119,1) 100%);
    height: 500px;
    width: auto;
    background-size: 1950px;
    margin-top: -170px;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    color: white;
    
}
.text-container h1 {
    font-size: 150px;
    margin-bottom: -25px;
    text-shadow: 2px 2px 4px black;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-style: italic;
}
.text-container p {
    font-size: 180px;
    line-height: 1.6;
}

.text-container2 p {
    color: white;
    font-size: 30px;
    margin-top: 100px;
    margin-left: 70px;
    text-shadow: 2px 2px 4px black;
    font-family: cursive;
}

.encadre{
    background-color: rgb(80, 5, 116);
    height: 45px;
    width: 350Px;
    border-radius: 200px;
    margin-left: 10px;
}

.image-style {
    width: 350px;
    height: 500px;
    border-radius: 10px;
}

.manga{
    height: 700px;
    width: 350px;
}

.image-size{
    height: 700px;
    width: 470px;
    margin: 73px;
    border-radius: 10px;
    border: 3px solid black;
}

.image-size2{
    margin-left: 100px;
    height: 700px;
    width: 470px;
    margin: 73px;
    border-radius: 10px;
    border: 3px solid black;
    text-align: center;
}

.presentation-h2{
    font-size: 1000px;
}


@media screen and (max-width:414px) {
    .logo {
        background-image: url(img/jojologo.webp);
        width: 914px;
        height: 410px;
        position: absolute;
        top: 70%;
        left: 52%;
        transform: translate(-56%, -75%);
        margin-left: 188px;
        margin-bottom: 10px;
    }

    .présentation-h2{
        margin-top: -331px;
    }

    .container {
        position: relative;
        height: 190px;
    }

    .box1 { 
        background: rgb(131,58,180);
        background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(46,31,157,1) 50%, rgba(45,13,119,1) 100%);
        height: 350px;
        width: 414px;
        margin-top: -170px;
        margin-left: -10px;
        position: relative;
    }

    .text-container h1 {
        margin-bottom: -100px;
        font-size: 80px;
        text-shadow: 2px 2px 4px black;
        font-family: Comic Sans MS, Comic Sans, cursive;
        font-style: italic;
    }

    .image-size{
        height: 344px;
        width: 235px;
        margin: 60px;
        border-radius: 10px;
        border: 3px solid black;
        margin-left: 76px;
    }

    .image-size2{
        margin-left: 100px;
        height: 344px;
        width: 235px;
        margin-left: 10px;
        margin: 60px;
        border-radius: 10px;
        border: 3px solid black;
        text-align: center;
    }

    .PiedDePage{
        height: 200px;
        width: 200px;
    }
}
